    *{
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
        box-sizing: border-box;
      }

    body{
        margin:0;
        width: 100%;
    }
    #grid-container{
        
        display: grid;
        grid-template-areas: "header" "main" "footer";
        /*Dette ble inspirert av Ann Charlotte sin kode i forelesningen, se kilde 1.8 for mer info*/
        max-width: 1600px;
        margin: 0 auto;
    }
    header{ 
        grid-area: header;

    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

    }
    header ul{
        list-style: none;
        padding: 0;
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
    }
    #bold-line{
        font-weight: 700;
        text-decoration: #e6bd43 underline;
        text-underline-offset: 5px; 
        color: black;
    }
    header ul li a{
        color: black;
        text-decoration: none;
    }
    
    /* Fikk dette av en youtube video om hvordan man kan pynte en skip to main link https://www.youtube.com/watch?v=jDDaOFr9nqQ */
    .skip-link{
        position: absolute;
        transform: translateY(-120%);
        background-color: #252525;
        color: #e6bd43;
        padding: 0.5rem 1.5rem;
        border: 0 0 0.25rem;
        left: 0.25rem;
        transition: transform 325ms ease-in;
    }

    .skip-link:focus{
        transform: translateY(0);
    }
    main{
        grid-area: main;
        margin: 0;
        padding: 0;
    }
    /*Her har jeg brukt Ann-Charlotte sin knapp design, les kilde 1.1 for mer info*/
    .yellow-btn {
        display: inline-block;
        padding: 0.5rem;
        text-decoration: none;
        background-color: #e6bd43;
        color: #000000;
        font-weight: 400;
        font-size: 1em;

    }
    .yellow-line{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bdd{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .box-text{
        
        flex-grow: 0.2;
        
    }
    

    /*Dette fikk jeg av en kommentar i stack overflow https://stackoverflow.com/questions/7294369/how-can-i-make-an-underline-some-pixels-longer-than-the-headline*/
    .yellow-line h2{
        display: inline-block;
        font-size: 1em;
        padding: 0 50px 10px 0px;
        border-bottom: 3px solid #e6bd43;
        text-underline-offset: 12px;
        width: 81%;
    }

    .bdd h2{
        display: inline-block;
        font-size: 1em;
        padding: 0 50px 10px 0px;
        border-bottom: 3px solid #e6bd43;
        text-underline-offset: 12px;
        width: 81%;
        margin: 0 auto;
    }
    .bdd h4{
        width: 81%;
        font-size: 1em;
        padding: 0rem 0rem 0 1rem;
        max-width: 692px;
    }
    .yellow-line h4{
        width: 81%;
        font-size: 1em;
        text-align: center;
    }
    .bdd img{
        width: 100%;
        padding: 2rem 1rem 0 1rem;
        height: auto;
        max-width: 692px;
    }
    .yellow-line img{
        width: 81%;
    padding: 2rem 0 0 0;
    }

    .border-boxes{
        display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 0 0 1.5rem;
    }

    .border-boxes a{
        max-width: 50%;
        height: auto;
        border: solid 2px black;
        margin: 15px;
        padding: 11px;
        color: black;
        text-decoration: none;
    }
    

    .yellow-btn span{
        font-weight: 600;
        font-size: 1.2em;
    }


    /* Bilde kom fra pinterest, se kilde 1.2 for mer info*/
    /* alt av justering med background fikk jeg fra youtube videon https://www.youtube.com/watch?v=zHZRFwWQt2w
    se kilde 1.3 for mer info */ 

    /* Det med gradiant fikk jeg av chat GPT, skjekk kilde 1.4 for mer info*/
    .top-section{
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)),
                    url(/eksamen_23/img/latop-phone.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5rem;

    }


    .top-section h1{
        margin: 0 0 1rem 0;
        font-size: 1.8em;
    text-align: center;
    
    }
    

    .a-top-section{
    background-image: url(/eksamen_23/img/latop-phone.jpg);
    background-size: cover;
    text-align: start;
    padding: 5rem;
    }

    .our-company{
        background-color: white;
        padding: 2rem;
        opacity: 0.9;
    }
    .our-company p{
        margin-bottom:1rem;
    }
    .our-company a.yellow-btn{
        margin-top: 1rem;
        font-size: 0.7;
    }
    .middle-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4rem;
    }
    .middle-section h2{
        margin: 0 0 1rem 0;
        font-size: 1.3em;
        text-align: center;
    }
    .img-flex{
        background-color: #e6bd43;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-flex h3{
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        margin: 3rem 0 3rem 0;
    }
    .img-flex img{
        max-width: 20%;
        margin: 3rem;
        height: auto;
    
    }
    .top-bottom-section{
        background-color: #e6bd43;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    #tps-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-bottom-section h2{
        padding: 0 7rem;
        font-size: 1.5em;
        text-align: start;
        margin: 3rem 0 0 0;

    }
    .top-bottom-section img{
        width: 100%;
        height: auto;
        padding: 3rem 3rem 0rem 3rem;
    }
    .top-bottom-section p{
        padding: 0 8rem 0 7rem;
        font-size: 1em;
        text-align: start;
    
    }

    .black-brd-btn{
        display: block;
        padding: 11px;
        text-decoration: none;
        background-color: #e6bd43;
        color: #000000;
        font-weight: 900;
        border:#000000 solid 3px;
        margin: 0 0 4rem 0;
    }
    

    .bottom-section{
        display: flex;

        flex-wrap: wrap;
        align-items: center;
        margin: 3rem 0 0 0;
    }
    .bottom-section h2{
        font-size: 1.5em;
    }
    .bottom-section section{
        height:auto;
    }
    .bottom-section section h3{
        text-align: center;
    }
    .bottom-section section h2 {
        text-align: center;
        width: 100%;
    }
    .bottom-section section p{
        padding: 0rem 7rem 0 7rem;
        text-align: center;
    }
    .ikon1{
        display: flex;
        justify-content: center;
        font-size: 2em;
        margin: 3rem 0 1rem 0;
        

    }
    .bottom-section{
        padding: 3rem 0 0 0;
        display: flex;
        justify-content: center;    
    }
    .newsletter h2 {
        text-align: center;
    }


    /*Alt av innhold under bottom-section fikk jeg fra chat gpt*/
    #email {
        width: 229px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #fff;
        font-size: 16px;
    }

    #signup {
        background-color: #e6bd43;
        color: #000;
        border: none;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        margin: 0 0 0 5px;
        font-weight: 600;
    }
   

    .newsletter{
        padding: 3rem 0 0 0;
        display: flex;
        justify-content: center;
        background-color: #ECECEC;
        height: 13rem;
    }
    .newsletter form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-us-wrapper{
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: #ECECEC;
    }
    .contact {
        padding: 35px;
        background-color: #ECECEC;
    }

    .contact-info p{
        display: inline-block;
        width: 88%;
    }
    .contact-info p:last-child{
        text-decoration:underline;
    }
    .contact-info p span{
        padding: 0 0 0 3px;
    }
    .contact-info .ikon{
        padding:0 10px 0 0
    }
    iframe{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .send-us h3{
        text-align: center;
        padding: 3rem 0;
        margin: 0;
        font-size: 1.5em;
    }
    .send-us{
        background-color:#ECECEC;
    }   
    .send-us form {
        display: flex;
        flex-direction: column;
        max-width: 300px; /* Adjust the max-width as needed */
        margin: auto; /* Center the form */
    }

    .send-us label {
        margin-bottom: 5px; /* Adjust the margin as needed for spacing between labels */
    }

    .send-us input,
    textarea {
        padding: 5px; /* Adjust padding as needed */
        margin-bottom: 10px; /* Adjust the margin as needed for spacing between form elements */
    }

    .send-us textarea {
        height: 150px; /* Adjust the height as needed */
        resize: vertical; /* Allow vertical resizing if needed */
    }

    .send-us .yellow-btn {
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        background-color: #e6bd43;
        color: #000000;
        font-weight: 400;
        font-size: 0.7em;
        width: 8rem;
        margin: 0rem 0 1rem 0rem;
    }

    footer{
        grid-area: footer;
        flex-direction: column;
        align-items: center;
        display: flex;
        background-color: #252525;
        padding: 2rem;
    }

    footer img{
        width: 10vh;
    }
    footer p{
        color:white;
    }

    footer ul{
        margin:0;
        list-style: none;
        display: flex;
        color: white;
    }

    .fa-brands{
        color: white;
    }

    footer ul li{
        margin: 0rem 2rem 0 0;
        font-size: 2em;
    }

    .flex-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .bottom-section section p{
            padding: 0;
        }
        
    @media only screen and (min-width: 450px) {

        .flex-container section{
            height: auto;
            width: 50%;
        }
        .top-bottom-section p{
            text-align: center;
        }
        .contact-info .ikon{
            padding: 0 17px 0 0;
        }
        
    }
    
    @media only screen and (min-width: 600px) {
        #grid-container {
            grid-template-areas: "header header header" "main main main" "footer footer footer";
        }
        header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        }

        .text-knapp{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 1rem;
        }
        header nav ul{
            flex-direction:row;
            column-gap: 1rem;
            font-size: 1em;
        }
        .yellow-btn:hover{
            color: #e6bd43;
            background-color: #252525
        }
        .yellow-line h2{
            width: 100%;
            margin: 2rem 1rem;
            font-size: 1.5em;
        }
        .border-boxes a:hover{
            background-color:#252525;
            color: #e6bd43;
        }
        .bdd h2{
            width: 100%;
            margin: 2rem 1rem;
            font-size: 1.5em;
        }
        /* Det med at portfolio bildene blir større gradvis når jeg hovrer over, fikk jeg av youtube videoen https://www.youtube.com/watch?v=UL60B8TdxAU
        skjekk kilde 1.9 for mer info
        */
        .box-text{
            transition: .3s ease;
        }
        .box-text:hover{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform:scale(1.1))
        }
        .middle-section h2{
            font-size:1.5em;
        }
        .top-bottom-section{
            align-items: center;
            flex-direction: row;
        }
        #tps-flex{
            align-items: start;   
        }
        .top-bottom-section h2{
            padding: 0;
            margin: 3rem 0 0.5rem 0;
        }
        .top-bottom-section p{
            margin: 0rem 2rem 1rem 0rem;
            padding: 0;
            text-align: start;
        }
        .top-bottom-section img{
            min-width: 300px;
            max-width: 450px;
            padding: 2rem;
        }
        .bottom-section h2{
            font-size: 2em;
        }
        .black-brd-btn{
            margin: 0;
        }
        .black-brd-btn:hover{
            background-color: #252525;
            color: #e6bd43;
        }
        .flex-container{
            padding: 0 4rem 4rem 4rem;
        }
        .flex-container section{
            width: 25%;
        }
        .newsletter{
            padding: 1rem 0 0 0;
        }
        .newsletter h2{
            font-size: 2em;
        }
        #signup:hover{
            background-color:#252525 ;
            color: #e6bd43;
        }
        .contact-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .contact-us-wrapper {
            display: flex;
            justify-content: center;
            align-content: center;
            grid-column: 1/3;
            background-color: #ECECEC;
            font-size: 1.5em;
          }
          .contact-info .ikon{
            padding: 0 15px 0 0;
          }
          .send-us{
            padding: 0 0 0 1rem;
          }
          .send-us form{
            max-width: 400px;
          }
        .contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 10rem 1rem;
        }

        footer{
            justify-content: space-between;
            flex-direction: row;
            padding: 3rem 0 3rem 1rem;
        }
        footer ul{
            padding: 0;
        }
    }
    @media only screen and (min-width: 1024px) {
        .yellow-btn{
            font-size:1.2em;
            padding: 0.8rem;
        }
        header nav ul{
            column-gap: 1.5rem;
            font-size: 1.5em;
        }
        .top-section h1{
            margin:0;
            font-size: 2.5em;
        }
        .top-section p{
            font-size: 1.2em;
            padding: 0 8rem;
        }
        .middle-section p{
            font-size: 1.2em;
            padding: 0 8rem;
        }
        .middle-section h2{
            font-size: 2em;
            padding: 0 14rem;
        }
        .top-bottom-section p{
        padding: 0 13rem 0 0;
        margin: 0 0 1rem 0;
        }
        .top-bottom-section img{
            padding: 2rem 2rem 2rem 6rem;
        }
        .bottom-section h2{
            font-size: 3em;
        }
        .newsletter{
            padding:4rem 0 12rem 0;
        }
        .newsletter h2{
            text-align: center;
            font-size: 3em;
            margin: 0 0 2rem 0rem;
        }
        .newsletter form {
            justify-content: center;
        }
        .img-flex img{
        margin: 1rem;
        }
        .img-flex h3{
            font-size: 2em;
        }
        .send-us h3{
            font-size: 2em;
        }
        .contact-info .ikon{
            padding: 0 21px 0 0;
        }
    }
    @media only screen and (min-width: 1024px) {
        .contact-info .ikon{
            padding: 0 30px 0 0 ;
        }
    }